<div class="container-fluid pt-3 animated fadeIn fast">
    <div class="row px-2">
        <div class="col-md-2">
            <h5 class="add-option tbc"><i class="fa fa-plus"></i> New Subject</h5>
        </div>
        <div class="col-md-9">
            <h3 class="text-center site-title">Subjects</h3>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-2">
            <app-filter [container]="'subject'"></app-filter>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-1" *ngFor="let subject of subjects">
                        <app-subject [subject]="subject"></app-subject>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>