<div class="container-fluid pt-3 animated fadeIn fast">
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h4 class="add-option tbc"><i class="fa fa-plus"></i> New Instructor</h4>
        </div>
        <div>
            <h3 class="text-center site-title">Instructors</h3>
        </div>
        <div>
            <h5 (click)="toggleView()" class="add-option text-right tbc">View <i class="fa fa-columns" *ngIf="currentView == 'columns'"></i><i class="fa fa-th-large" *ngIf="currentView == 'grid'"></i></h5>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-2">
            <app-filter [container]="'instructor'"></app-filter>
        </div>
        <div class="col-md-10">
            <div class="row row-cols-5" *ngIf="!loading">
                <app-instructor *ngFor="let instructor of instructors" [instructor]="instructor" (click)="viewInstructor(instructor.id)"></app-instructor>
            </div>
        </div>
    </div>
</div>