<footer class="footer py-3">
    <div class="container">
        <ul class="nav d-flex flex-row justify-content-center">
            <li class="nav-item px-2">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">Accesibility</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">Help Center</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">Impressum</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">Get Minty Mint app</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">More</a>
            </li>

        </ul>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <strong style="color: #31755e;">MINTY MINT</strong> <span class="px-1">&copy; {{ currentYear }}</span>
            </div>
        </div>
    </div>
</footer>